extends layout.pug

block styles
  link(rel="stylesheet", href="/styles/index.css")

block content
  - var urls = 'http://www.baidu.com';
  a(href=`${urls}` class="a-link") 百度
  |
  |
  input(
    class="input-normal"
    type="input"
    name="username"
    placeholder="用户名"
  )
  |
  |
  - var count = 1
  case count
    when 0: p 没有计数
    //- when 1: p 当前计数为 #{count}
    when 1: p= `当前计数为: ${count}`
    default: p 出错啦...

  - const arrs = ['a', 'b', 'c']
  ul
    each item, index in arrs
      li #{index}: #{item}

  ol
    - for (var i = 0; i < 3; i++)
      li= i
  |
  |
  p= content

  x-clock

block scripts
  script(src="/js/index.js")
